<app-menu></app-menu>

<div class="container">

<header class="jumbotron hero-spacer">
  <h1>{{ title }}</h1>
  <p>Your basket amounts to {{ getTotal() }} $</p>
  <p><a class="btn btn-primary btn-large">See my basket</a></p>
</header>

<hr>

<div class="row">
    <div class="col-lg-12">
        <h2>Last beers</h2>
    </div>
</div>
<div class="row text-center">
  <ng-container *ngFor="let beer of beers">
    <app-product *ngIf="beer.stock > 0" class="col-md-3 col-sm-6" [data]="beer" (addToBasket)="add($event)"></app-product>
  </ng-container>

  <hr>

  <app-footer></app-footer>

</div>
