.product-item {
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 3px;
}

.thumbnail .caption {
  height: 215px;
}

.content {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img {
  height: 250px;
  width: auto;
}

.last {
  background-color: #f80606a3;
}
